.container {
    width: 100%;
    height: auto;
    margin-top: 120px;
    margin-left: 32px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: 100%;
}

.title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fc842d;
}

.input {
    width: 240px;
    height: auto;
    padding-bottom: 20px;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    appearance: none;
    margin-bottom: 32px;
    background-color: transparent;
    outline: none;
    font-family: Verdana, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #9B9FAA;
}

.input::placeholder {
    font-family: Verdana, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #9B9FAA;
    margin-bottom: 20px;
}

.btnContainer {
    display: flex;
    gap: 32px;
}

.registerButton {
    width: 240px;
    height: 40px;
    background-color: #FC842D;
    border-radius: 30px;
    border: none;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(252, 131, 45, 0.451);
    transition: all 0.3s ease;
}

.registerButton:hover {
    background-color: #FF6B00;
    box-shadow: 0px 4px 4px rgba(252, 131, 45, 0.451);
}

.registerButton:active {
    background-color: #FF6B00;
    box-shadow: 0px 4px 4px rgba(252, 131, 45, 0.451);
}

.registerButton:focus {
    outline: none;
    box-shadow: 0px 4px 4px rgba(252, 131, 45, 0.451);
}

.logInButton {
    width: 240px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 30px;
    border: none;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    color: #FC842D;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid #fc842d;
}

.logInButton:hover {
    background-color: #FC842D;
    color: #FFFFFF;
}

.logInButton:active {
    background-color: #FC842D;
    color: #FFFFFF;
}

.logInButton:focus {
    outline: none;
    box-shadow: 0px 4px 4px rgba(252, 131, 45, 0.451);
}

.btnContainer:hover .logInButton:hover~.logInButton {
    background-color: #FFFFFF;
    color: #FC842D;
    border: 2px solid #fc842d;
    box-shadow: 0px 4px 4px rgba(252, 131, 45, 0.451);
}

/* When register button is focused, change login button style */
.btnContainer:focus-within .logInButton:focus~.logInButton {
    background-color: #FFFFFF;
    color: #FC842D;
    border: 2px solid #fc842d;
    box-shadow: 0px 4px 4px rgba(252, 131, 45, 0.451);
}