.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(33, 33, 33, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal {
    background: #fff;
    width: 672px;
    height: 574px;
    border-radius: 10px;
    box-shadow: 0 22px 40px rgba(0, 0, 0, 0.08);
    padding: 40px;
    position: relative;
    text-align: center;
}

.closeBtn {
    position: absolute;
    top: 20px;
    right: 30px;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
}

.title {
    padding: 64px 82px 20px 82px;
    font-family: Verdana;
    font-weight: 700;
    font-size: 26px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
}

.calorie {
    
    font-family: Verdana;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: center;
    color: #264061;
    margin-bottom: 32px;

}

.subtitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
    text-align: left;
    border-top: 1px solid #E0E0E0;
    margin: 12px 100px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 4%;
    padding: 12px 100px;
}

.list {
    list-style:decimal;
    text-align: left;
    max-width: 300px;
    margin: 0 auto 32px;
    padding-left: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #9b9faa;
}
.listItem{
    list-style: decimal;
}

.button {
    width: 240px;
    height: 40px;
    background-color: #FC842D;
    border-radius: 30px;
    border: none;
    font-family: Verdana, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(252, 131, 45, 0.451);
}

.button:hover {
    box-shadow: 0px 4px 4px #FC842D;
    background-color: #fa8f31;
}