/* HomePage.module.css */
.strawberry,
.banana,
.backshadow,
.leaf {
    display: none;

}

.leafAlt {
    display: none;
}


@media screen and (min-width: 768px) {

     .leafAlt{
    display: block;
    z-index: -3333;
    position: absolute; 
    left: 850px; 
    top: -14vh;
    width: 800px;

    animation: pulseScale  ease-in-out 4s;
  } 

    .strawberry {
        display: block;
        position: absolute;
        right: 50px;
        bottom: 200px;
        z-index: -9998;
        animation: pulseScale  ease-in-out 4s;
    }

    .banana {
        display: block;

        position: absolute;
        bottom: -150px;
        right: -10px;
        z-index: -13;
        width: 500px;

    }

    .backshadow {
        display: block;

        position: absolute;
        right: -50px;
        bottom: -200px;
        z-index: -9999;
        width: max-content;
    }

    .leaf {
        display: block;

        position: absolute;
        bottom: -180px;
        right: 5vw;
        z-index: -12;
        transform: rotate(90deg);
        width: 800px;
        animation: pulseScale  ease-in-out 4s;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        min-width: max-content;
        overflow: hidden;
        max-height: 5vh;

    }

    .strawberry {
        top: 550px;
        right: 10px;
        width: 286px;
        height: 253px;
        animation: pulseScale  ease-in-out 4s;
    }

    .backshadow {
        top: 20px;
        right: -30px;
        width: 750px;
    }

    .banana {
        top: -100px;
        width: 773px;
        right: -200px;
        z-index: -11;


    }

    .leaf {
        top: -100px;
        right: 15vw;
        width: 746px;
        transform: rotate(360deg);
        z-index: -12;
        animation: pulseScale  ease-in-out 4s;

    }



}

@keyframes pulseScale {
    0% {
        transform: scale(0.75);
    }

    20% {
        transform: scale(1.1);
    }

    40% {
        transform: scale(0.75);
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(0.75);
    }

    100% {
        transform: scale(0.75);
    }
}